---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "A QR code game built with AstroJS" } = Astro.props;

import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>